{%extends 'base.html'%}
{%load static%}
{%block myblock%}


<!DOCTYPE html>
<html>
<head>

<style type="text/css">
	
	body{
		
		background-color: #f6f6f4;
		background-image: url({%static 'ca.jpg'%});
		
		color: #FFFFFF;
       
       text-shadow: 2px 2px 0 #4074b5, 2px -2px 0 #4074b5, -2px 2px 0 #4074b5, -2px -2px 0 #4074b5, 2px 0px 0 #4074b5, 0px 2px 0 #4074b5, -2px 0px 0 #4074b5, 0px -2px 0 #4074b5;
        color: #FFFFFF;
        /*background: #FFFFFF;*/
		

	}
</style>
	<title></title>
</head>
<body>

<center>
<h1>Welcome to contact page.....</h1>
<br>
<br>
<h2>For any query contact us:-</h2>
<h2>LITINDIA</h2>
<h2> &#9742   9876543210</h2>
<h2> &#128231 litindia@gmail.com</h2>
<h2>&#127968 Acharya vihar,BBSR</h2>
</center>
</body>
</html>
{%endblock%}