{% extends 'base.html'%}
{% load static %}
{% block myblock %}
{% block login%}
{%endblock%}	


 


{% for message in messages %}

 <div class="alert alert-success alert-dismissible">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
   {{ message }}

</div>
{% endfor %}

<style type="text/css">
  body {
  margin: 0;
  padding: 0;
  background-color: #f6f6f4;
   background-image: url("{% static 'ca.jpg'%}");
   background-repeat: no-repeat;
   background-size: 100% 100%;
  height: 100vh;
}
/*#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 420px;
 /* border: 1px solid #9C9C9C;
  background-color: #f6f6f4;

}
/*#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}*/
</style>
<body>
<br>
<br>
    <div id="login">
        <!-- <h3 class="text-center text-white pt-5">login form</h3> -->
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="rounded-lg">
                        <form id="login-form" class="form" action="http://localhost:8000/dashboard/" method="post">
                        {% csrf_token %}
                            <h3 class="text-center text-info">login</h3>


                            <div class="form-group">
                                <label for="username" class="text-info">Username:</label><br>
                                <input type="text" name="username" id="username" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="password" class="text-info">Password:</label><br>
                                <input type="password" name="password" id="password" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="remember-me" class="text-info"><span>Remember me</span> <span><input id="remember-me" name="remember-me" type="checkbox"></span></label><br>
                                <input type="submit" name="submit" class="btn btn-info btn-md" value="submit">
                            </div>
                            <div id="register-link" class="text-right">
                                <a href="http://localhost:8000/signup/" class="text-info">register here</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>



{% endblock %}